html
  body
    footer
      .container
        .ft
          a(href='http://teamtoy.net', target='new') TeamToy
          | -
          a(href='http://ftqq.com/', target='new') 方糖气球
          | 荣誉出品 © 2008~
