html
  body
    .navbar.navbar-fixed-top
      .navbar-inner.navbar-tt
        .container
          .mycontainer
            a.brand(href='?c=dashboard', title='title') "
            div
              ul#tt_menu_list.nav
                li
                  | class="active"
                  a(href='?c=dashboard')
                    img(src='src')
                    | " title="Todo"/
                li
                  | class="active"
                  a(href='?c=feed')
                    img(src='src')
                    | " title="
                    | "/
                li
                  | class="active"
                  a(href='?c=buddy')
                    img(src='src')
                    | " title="
                    | "/
                li
                  | class="active "
                  a(href='?c=inbox', title='title')
                    | "
                    .inbox
                      img(src='src')
                      | " class="reddot" /
                li
                  | class="active"
                  a(href='?c=pluglist')
                    img(src='src')
                    | " title="
                    | "/
                li.visible-phone
                  a(href='?c=guest&a=logout', title='title')
                    | "
                    img(src='src')
                    | " /
                li#doing_gif
                  img(src='src')
                  | "/
            // /.nav-collapse
            #top_dropdown.btn-group.pull-right.nav-collapse
              button#top_user_name.btn.noblue(data-toggle='dropdown')
              button#top_user_menu.btn.dropdown-toggle(data-toggle='dropdown')
                span.caret
              ul.dropdown-menu
                li
                  a(href='href') ' , '?c=dashboard&a=about' );void(0);" 
                li
                  a(href='javascript:check_version();void(0);', target='_blank')
                li.divider
                li
                  a(href='javascript:void(0);')
                    label.checkbox
                      input.remember(type='checkbox', name='sound-enable', value='1')
                li.divider
                li
                  a(href='href') ' , '?c=dashboard&a=profile' );void(0);"
                li
                  a(href='href') ' , '?c=dashboard&a=avatar' );void(0);"
                li
                  a(href='href') ' , '?c=dashboard&a=password' );void(0);"
                li.divider
                li
                  a(href='href') ' , '?c=inbox&a=qrlogin' );void(0);"
                li.divider
                li
                  a(href='?c=guest&a=logout')
