html
  body
    #im_all_text_div.im_all_text
    .form-inline
      #im_keyword_box.input-append
        input#im_keyword(type='text')
        button.btn(type='button', onclick='onclick') ' , $('#im_keyword').val() );void(0);"
      a(href='href')
        | ' , $('#im_keyword').val() , im_his_min );void(0);" class="btn" id="im_next_link"
    script(type='text/javascript')
      var im_his_min = '<?=intval($data['min'])?>';
      var im_his_more = '<?=intval($data['more'])?>';
      im_next_btn();
