html
  body
    form#password_form(action='?c=dashboard&a=update_password')
      .input-prepend.full
        span.add-on
          i.icon-key
        input(type='password', name='oldpassword', placeholder='placeholder')
        | "
      .input-prepend.full
        span.add-on
          i.icon-key
        input(type='password', name='newpassword', placeholder='placeholder')
        | "
      .input-prepend.full
        span.add-on
          i.icon-key
        input(type='password', name='newpassword2', placeholder='placeholder')
        | "
      .line
      div
        button.btn(type='button', onclick='save_password();')
