html
  body
    form.form-inline(action='action')
      | , $('#todo_edit_text').val());void(0);" method="post" id="todo_edit_form"
      .input-append
        input#todo_edit_text(type='text', value='value')
        | " class="side_edit" autofocus="autofocus"
        .btn-group.left_square
          button.btn
          button.btn.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu.short_menu
            li
              a(tabindex='-1', href='href') )"
    style
