!!! 5
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body
      {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav
      {
      padding: 9px 0;
      }
    link(href='stylesheets/bootstrap-responsive.min.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    //if lt IE 9
      script(src='javascripts/html5.js')
    //if IE 6
      link(href='stylesheets/ie6.min.css', rel='stylesheet')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.cookie.js')
    script(src='javascripts/bootstrap.min.js')
    //if IE 6
      script(src='javascripts/ie6.min.js')
    script(src='javascripts/app.js')
  body
    #im
      #im_header
        a#im_swith(href='javascript:void(0);') −
      #im_search.input-prepend
        span.add-on
          i.icon-search
        input#imkeyword(type='text', placeholder='姓名或拼音')
      ul#im_buddy_list
    #im_box
      #im_box_header
        a#im_box_closer(href='javascript:close_im_box();void(0);') ×
      ul#im_area_list
    // float box
    #float_box.modal.hide.fade
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#float_box_title 正在载入
      .modal-body
    // / float box
    // to top
    #to_top
      i.icon-arrow-up
      | Top
    // /to top button
    audio#ttsoundplayer(preload='auto')
      source(src='static/sound/dididi.wav', type='audio/wav')
    script
      $(function() {
      $(window).scroll(function() {
      if($(this).scrollTop() != 0) {
      $('#to_top').fadeIn();
      } else {
      $('#to_top').fadeOut();
      }
      });
      $('#to_top').click(function() {
      $('body,html').animate({scrollTop:0},100);
      });
      });
      setTimeout( check_notice , 2000 );
      setInterval( check_notice , 100000 );
      setTimeout( check_online , 1000 );
      setInterval( check_online , 100000 );
      <?php do_action( 'UI_COMMON_SCRIPT' ); ?>
      var site_url = '<?=c('site_url')?>';
      var favicon = site_url + '/<?=c('favicon')?>';
      var current_user = '<?=uname()?>';
      load_im_buddy_list();
    div!= body
    footer
      .container
        .ft
          a(href='http://teamtoy.net', target='new') TeamToy
          | -
          a(href='http://ftqq.com/', target='new') 方糖气球
          | 荣誉出品 ? 2008~

