html
  body
    li.clearfix.user.overhide(pinyin='pinyin')
      | " user="
      | " id="uid-
      | " uid="
      | "
      a.close.pull-right.hide(href='href')
        | );"
        | ×
      img(src='src')
      | " class="avatar pull-left hidden-phone"/
      ul.binfo.pull-left
        li
          i.icon-star
          a(href='href')
            | );void(0);" class="side_link"
            | 降为普通用户
          a(href='href')
            | );void(0);" class="side_link"
            | 升为管理员
          a(href='href')
            | , '
            | ');void(0);" class="side_link"
            | 重置密码
        li
          i.icon-envelope
          | 邮箱 -
          a(href='href', mailto:='mailto:') " target="_blank"
        li
          i.icon-phone
          | 手机 -
          a(href='href') " target="_blank"
        li
          i.icon-phone
          | 分机 -
          a(href='href') " target="_blank"
        li
          i.icon-credit-card
          | 工号 -
          a(href='#')
        li
          i.icon-twitter
          | 微博 -
          a(href='href', http:='http:', s.weibo.com='s.weibo.com', user='user')
          | " target="_blank"
          | @
        li
          i.icon-asterisk
          | 备注 -
        li#id(t-tags-='t-tags-')
          | "
          i.icon-tags
          span.label.label-info
        li#id(t-tags-edit-='t-tags-edit-')
          | " style="display:none"
          div
            input#id(type='text', t-tags-input-='t-tags-input-')
            | " value="
            | " /
            br
            a(href='href')
              | ');void(0);" class="btn btn-primary"
              | 保存
            a(href='href')
              | ');void(0);" class="btn"
              | 取消
        li
          a.side_link(href='href')
            | ');void(0);" id="t-tags-link-
            | "
            | 编辑用户所属分组
        li  
