html
  body
    li#id(cid-='cid-')
      | " class="fcomment"
      a.close.pull-right.hide(href='href')
        | );void(0);"
        | ×
      img.avatar(src='src')
      | " /
      a(uid='uid') " href="javascript:void(0);" class="namecard" 
      .clearfix
        .pull-right
          a.bbar_link(href='href')
            | ' );$('#fcomment_text').focus();void(0);"
            | 回复
        .exp_line    
