html
  body
    li.class
      | " fid="
      | " uid="
      | " id="fid-
      | "
      a.close.pull-right.hide(href='href')
        | );void(0);"
        | ×
      .hotarea
        .quote
          .via
            | —
            img(src='src')
            | " class="avatar"
            a(uid='uid') "  href="javascript:void(0);" class="namecard"
        div
          span.time  
          | 0 ): ?
          a.pull-right.ccount(href='javascript:void(0);')
            | 评论(
            span.cnt.ccount
            | )
    li.class
      | " tid="
      | " uid="
      | " id="fid-
      | "
      a.close.pull-right.hide(href='href')
        | );void(0);"
        | ×
      .hotarea
        img(src='src')
        | " class="avatar"
        a(uid='uid') " href="javascript:void(0);" class="namecard"
        div
          span.time  
          | 0 ): ?
          a.pull-right.ccount(href='javascript:void(0);')
            | 评论(
            span.cnt.ccount
            | )
