html
  body
    li#id(hid-='hid-')
      | " class="history"
      a.close.pull-right.hide(href='href')
        | );"
        | ×
      img.avatar(src='src')
      | " /
      a(uid='uid') " href="javascript:void(0);" class="namecard" 
      .clearfix
        .pull-right
          a.bbar_link(href='href')
            | ' );$('#comment_text').focus();void(0);"
            | 回复
        .exp_line    
