html
  body
    li#id(im_box_='im_box_')
      | " class="clearfix"
      .im_avatar
        img(src='src')
        | " alt="
        | " class="namecard" uid="
        | " /
        a.namecard(href='javascript:void(0);', uid='uid') "
      .im_text
        .im_history
        .im_form
          .im_divider
            a(href='href')
              | ','
              | ');void(0);" title="聊天记录"
              i.icon-time
          textarea.im_form_textarea(disabled='disabled', uid='uid')
            | " autofocus="autofocus"
            | 亲，自言自语就不用发到服务器啦~
          textarea.im_form_textarea(placeholder='输入聊天文字，按回车键送出', uid='uid') " autofocus="autofocus"
