html
  body
    li.class
      | red
      | blue
      | finished
      | ing
      | " id="t-
      | " tid="
      | "
      a.todo_play(tid='tid')
        | " title="点击切换进行状态"
        i.icon-circle-arrow-right
      .todo_fav(title='星标操作')
        .todo_row(title='title')
          | "
          a.item
