.login
  .container
    h1
      img(src='images/tt2.flogo.large.png')
    center
      .login-area
        form#login_form.form-horizontal(action='/guest/login', method='post', onsubmit='send_form_in("login_form");return false;void(0);')
          .input-prepend
            span.add-on
              img.licon(src='images/login.mail.png')
            input(type='text', name='email', placeholder='邮箱')
          .line-large
          .input-prepend
            span.add-on
              img.licon(src='images/login.lock.png')
            input(type='password', name='password', placeholder='密码')
          .line-large
          .line-large
          .line-large
          .line-large
          div
            button.btn.btn-large.btn-inverse.login(type='submit') 登入
          div
