html
  body
    .row-fluid
      .span7
        h2.main_board 团队成员
        ul#buddy_list
        script
          function loaded()
          {
          remember();
          load_buddy();
          buddy_search();
          <?php do_action( 'UI_BUDDY_SCRIPT_LOAD' ); ?>
          }
          <?php do_action( 'UI_BUDDY_SCRIPT_LAST' ); ?>
          document.addEventListener('DOMContentLoaded', loaded, false);
      #side_board.span5
        #buddy_box
          #side_container
            h2.side_board
              | 搜索成员
              a.side_link(href='javascript:$("#buddy_add_box").slideToggle();void(0);') 添加
            .input-append
              input#buddy_key(type='text', placeholder='输入姓名或拼音', autofocus='autofocus')
              span.add-on 搜索
            .line
            #buddy_add_box.hide.clearfix
              h2.side_board 添加成员
              form#buddy_form(action='?c=buddy&a=add')
                .input-prepend.full
                  span.add-on
                    i.icon-user
                    | 姓名
                  input(type='text', name='name', placeholder='不可修改，请填写真实姓名')
                .input-prepend.full
                  span.add-on
                    i.icon-envelope
                    | 邮箱
                  input(type='text', name='email', placeholder='用于收发通知')
                .input-prepend
                  span.add-on
                    i.icon-key
                    | 密码
                  input(type='password', name='password', placeholder='密码')
                div
                  button.btn.pull-right(type='button', onclick='send_form( "buddy_form" , function(data){ user_added(data); } )') 添加
            #buddy_mulit_box.hide
              .line
              h2.side_board
                | 添加标签
                a.side_link(href='#') 使用#标签 对一组用户点名
              ul#namelist
              .input-append
                input.full(type='text', name='tag', placeholder='输入要添加的标签')
                button.btn(type='button') 保存
