!!! 5
// HTML5 doctype
html
  head
    title
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(http-equiv='Pragma', content='no-cache')
    script(type='text/javascript', src='http://lib.sinaapp.com/js/jq.mobi/1.0/jq.mobi.min.js')
    script(type='text/javascript', src='http://lib.sinaapp.com/js/jq.mobi/1.0/jq.ui.min.js')
  body
    #jQUi
