html
  body
    table(width='100%')
      tr
        td
          center
            img(src='src', http:='http:', tt2qrcode.sinaapp.com='tt2qrcode.sinaapp.com')
            | " width="185" height="185" title="快捷登入二维码"/
            h2 快捷登入
            p
              | 请用
              a(href='http://teamtoy.net/?c=download&type=mobile', target='new') TeamToy客户端
              | 扫描
